<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.1.xsd">

	<bean id="deliveryService"
		class="com.banu.rmi.DeliveryServiceImpl">
	</bean>

<!--  
	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="delivery-service" />
		<property name="service" ref="deliveryService" />
		<property name="serviceInterface"
			value="com.banu.rmi.DeliveryServiceIntf" />
		<property name="registryPort" value="1234" />
	</bean>
-->
	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="delivery-service" />
		<property name="service" ref="deliveryService" />
		<property name="serviceInterface"
			value="com.banu.rmi.DeliveryServiceIntf" />
		<property name="registryPort" value="1234" />
	</bean>
<!--  
	<bean name="/MyService"
		class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="deliveryService" />
		<property name="serviceInterface"
			value="com.banu.rmi.DeliveryServiceIntf" />
	</bean>-->
</beans>